
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800 px;
  font-size: 48px; 
  display:inline-block ;
  /* nav */
}
.text-primary{
    color: chocolate;
}
.btn-primary{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 12px ;
    border-radius: 5px;
    font-size: 48;
    font-weight: bolder;
    text-decoration: none;
/* banner style */
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 1440px 652px;
    background-position: center;
}
.banner{
    text-align: center;
    display: inline-block;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
main section h3{
    font-size: 32px;
    font-weight: bolder;
    color:#0D1321
}
.section-drescription{
    font-size: 16px;
    color:#0D1321
}
.secondary-bg{
    background-color: rgb(241, 237, 227);
    text-align: center;
 
}
main div{
    max-width: 1140px;
    margin: 0 auto;
}
main section h5{
    font-size: 24px;
    font-weight: bold;
}
main section p{
    font-size: 16px;
}
div{
    text-align: center;
  
}
div p{
    font-size: 16px;
}
*{
    margin: 10px;
}
table {
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
}
#suggest{
    border-radius: 0px;
    border-width: 548 px;
    }
 
      .sp{
        background-image: url(../assets/handshake.jpg);
        background-repeat: no-repeat;
        background-size: 1500px 313px;
        background-position: center;
    }
    #layer-1{
        text-align: left;
        color: rgb(22, 197, 197);
    }
    main div{
        text-align:right;
   margin-left: 1300px;
    }s
    main section{
        text-align: left;
    }
    div ul{
        display: flex;
    }
    div ul li{
        list-style: none;
    }
    #flex{
        display: flex;
        align-items: ;
    }
    div table th{
        border: 1px;
    }
    footer div small{
        font-size: 13px;
    }